mat-card {
    width: 800px;
    height: auto;
    margin-top: 100px;
    border-radius: 10px;
    border: 1px solid gray;
}

mat-form-field {
    align-self: center;
    width: 90%;
    margin-top: 10px;
    margin-left: 5px;
}

mat-card-title {
   padding: 0;
   margin: 0;
}

mat-card-header {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
}

.mat-card-header .mat-card-title {
    padding: 0;
    margin: 0;
}

.mat-card-header .mat-card-title {
    font-size: 25px;
}

button {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    background-color: red;
}

.form_creat--task {
    display: grid;
    grid-template-columns: 40% 40%; 
    align-items: center;
    justify-content: center;
}